@charset "UTF-8";
html {
     font-size: 10px;
     scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans JP' , sans-serif;
    font-style: normal;
    color: #505050;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-left: 99px;
}
.site-title {
    display: flex;
    align-items: center;
}
.site-title img {
    width: 25.49px;
    height: 25px;
}
h1 {
    font-size: 1.8rem;
    font-weight: 700;
    height: 50px;
    margin-left: 9.51px;
    line-height: 3.3rem;
}
h1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding: 9px 0px 8px 0; */
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
h1 a:hover {
   opacity: 0.5;
}
#nav-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-nav {
    display: flex;
    height: 100%;
}
.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    margin-right: 60px;
    margin-top: 2px;
}
.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding: 9px 0 8px 0; */
    font-size: 1.4em;
    font-weight: 700;
    line-height: 3.3rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list a:hover {
    opacity: 0.5;
} 
.nav-list li {
    height: 100%;
}  

@media screen and (max-width: 767px) {
    .header {
        margin: 0;
        padding: 0;
    }
    .nav-list {
        display: none;
    }
    .site-title img {
        margin-left: 20px;  
    }
    h1 a{
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.3rem;
    }
}    
    


#hero {
    width: 100%;
    height: auto;
    position: relative;
}
.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.hero-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 45.56%;
    height: 42%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.702);  
    padding: 26px 0 0 99px;
    margin-top: 6px;

}
@media screen and (max-width: 920px) {
    .hero-text {
        padding-left: 80px;
    }
    
}

.hero-text h2 {
    /* font-size: 2.5rem; */
    font-size: clamp(2rem, 2.31vw, 2.5rem);
    font-weight: 700;
    padding-bottom: 25px;
}
span {
    /* font-size: 4rem; */
    font-size: clamp(3rem,3.7vw, 4rem);
    font-weight: 700;
    color: #0D96A0;
    line-height: 6rem;
}
/* font-size: clamp(最小rem, 可変幅vw, 最大rem); */

@media screen and (max-width: 920px) {
    span {
        line-height: 4rem;
    }
    
}


.sp-only {
    display: none;
}

@media screen and (max-width: 767px) {
    #hero {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .hero-image {
        width: 100%;
    }
    .hero-image img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    .hero-text {
        position: absolute;
        top: 85.09%;
        left: 0%;
        width: 82.9%;
        /* max-width: 82.9%; */
        height: 26.91%;
        bottom: 0;
        background-color: rgb(225,225,225,0.7);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;  
        padding: 3px 0 0 21px ;
        margin: 0 !important;  
    }
    /* .hero-text {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 492px;
        min-height: 210px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.702);  
        padding: 27px 0 0 98px;
        margin-top: 6px;
    
    } */
    








    .hero-text h2 {
        padding: 0;
        font-size: 2.8rem;
        font-weight: 700;
    }
    h2 span {
        display: block;
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 4rem;
        margin-top: 5px;
    }
    .sp-only {
        display: inline;
    }
    /* img.paw-trail {
        display: block;
        width: 68.35px;
        height: 62.94px;
        max-width: none;
        top: 268px;
        left: 278px;

    } */
    /* .paw-trail img {
        display: block;
        width: 100%;

    } */        
}

@media screen and (max-width: 450px) {
    .hero-text h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    h2 span {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4rem;
        margin-top: 5px;
    }    
}

@media screen and (max-width: 360px) {
    .hero-text h2 {
        font-size: 1.5rem;
    }
    h2 span {
        font-size: 2.5rem;
    }
    
}





#greeting {
    position: relative;
    width: 100%;
    text-align: center;
}
#greeting h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
    margin-top: 60px;
    color: #0D96A0;
}
#greeting p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.3rem;
    margin-top: 15px;
    margin-bottom: 60px;
}
.paw-trail {
    position: absolute;
    right: 70.25px;
    bottom:31.88px;
    top: 115px;
    width: 100%;
    height: auto;
    max-width: 83.75px;
    opacity: 0.7;
    
}

@media screen  and (max-width: 767px) {
    .inner  {
        padding-inline: 20px !important;
    }
     .inner-sp {
        padding-inline: 20px;
        margin: 0 auto;
    } 

    #greeting {
        aspect-ratio: 375 / 385;
    }
    
    #greeting h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        padding-top: 42px ;
        margin-top: 0;
    }
    #greeting p {
        font-size: 1.6rem;
        line-height: 3rem;
        text-align: left;
        margin: 14px 0 44px 0;
    }

    /* 足跡img 配置指定 */
    .paw-trail {
        position: absolute;
        top: 78.54%;      /* 115px / 385px */
        left: 73.90%;     /* 277.1px / 375px */
        width: 18.23%;    /* 68.35px / 375px */
        height: auto;
        max-width: none;
        right: auto;
        bottom: auto;
        opacity: 0.7;
      }
      .paw-trail img {
        display: block;
        width: 100%;
      }
}


#strengths {
    background-color: rgba(13, 150, 160, 0.102);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 68px;
}
.strengths-title {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 70px;
    line-height: 1;
}
.strengths-title::before,
.strengths-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url("images/足跡_1.png");
    background-size: contain;
    background-repeat: no-repeat
}
.inner {
    padding-inline: 100px;
    margin: 0 auto;
}
.strengths-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
    margin-top: 50px;
    
}
.strengths-item {
    flex: 45%;    
}
.strengths-item h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.3rem;
    padding-bottom: 19px;
}
#greeting h3:last-of-type {
    margin-top: 29px;
  }

.strengths-item p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.3rem;    
}
.strengths-block:nth-of-type(2) {
    flex-direction: row-reverse;
}
/* ↑2番目配置入れ替え */

.strengths-image {
    flex: 50%;
    max-width: 440px;
    height: 247px;
    margin-top: 2px;
}
.strengths-image img {
    width: 100%;
    height: 100%;
}

@media screen  and (max-width: 767px) {
    #strengths {
        padding-bottom: 35px;
    }    
    .strengths-title {
        padding-top: 55px;
        padding-bottom: 44px;
    }
    .strengths-block {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 0;
        margin: 0;   
    }
    .strengths-image  {
        order: 1 ;
        display: block;
        width: 100%;
        height: auto;
    }

    .strengths-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .strengths-item  {
        order: 2;
    }
    .strengths-item h3 {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 25px;
        padding-bottom: 0;
    }
    /* h3の１個目メディアクエリだけ改行用コード書く */

    .strengths-item p {
        order: 3;
        font-size: 1.6rem;
        line-height: 3rem;
        text-align: left;
        padding-top: 7px;
        padding-bottom: 40px;
    }
    .strengths-block:nth-of-type(3) p {
        padding-bottom: 0 ;
    }

    .strengths-image img {
        display: block;
        width: 100%;
    }
    
    /* 横幅に広がらない理由を確認する */
}

/* @media screen  and (max-width: 900px) {
    #strengths {
        padding-left: 20px;
        padding-right: 20px;

    }
} */


#service {
    width: 100%;
    padding-bottom: 59px;
}

.service-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding-top: 62px;
}    
.service-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.service-title::before,
.service-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url("images/足跡_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 45px;
}
.service-block {
    text-align: center;
}
.service-item h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-top: 19px;
}
.service-item p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3rem;
    margin-top: 8px;
    text-align: left;
}

/* テキスト側にもmax-width幅指定いるかあとでチェック */

.service-image {
    display: block;
    width: 100%;
    max-width: 100%;
    
}
.service-image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    #service {
        padding-bottom: 0;
        /* padding-inline: 20px; */
    }
    #service .inner {
        max-width: 100%;
    }

    .service-title {
        padding-top: 44px;
        margin-bottom: 12px;
    }
    .service-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
        margin-top: 39px;
    }
    .service-item h3 {
        margin-top: 27px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
    }
    .service-item p {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 3rem;
        margin-bottom: 40px;
    }
    .service-image {
        display: block;
        width: 100%;
        height: auto;
    }
    .service-image img {
        display: block;
        width: 100%;
        /* max-width: 100%; */
    }        
}
/* @media screen  and (max-width: 900px) {
    #service {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;

    }
} */


/* 後で余白調整する */

#news {
    width: 100%;
    background-color: rgba(13, 150, 160, 0.102);
    padding-bottom: 67px;
}
.news-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 63px;
    padding-bottom: 45px;
    border-bottom: 1px solid #707070;
}
.news-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.news-title::before,
.news-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url("images/足跡_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.news-list {
    max-width: 879px;
    margin: 0 auto;
    list-style: none;
}
.news-item {
    display: flex;
    border-bottom: 1px solid #707070;
}
.news-date {
    width: 110px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #505050;
    text-align: left;
    padding: 17px 0px 14px 19px;
   

}
.news-heading {
    width: 185px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #0D96A0;
    padding: 17px 0px 14px 25px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
}
.news-heading:hover {
    opacity: 0.5;
}

.news-text {
    width: 491px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
    flex: 1;
    padding: 15px 0px 14px 49px;
}

@media screen  and (max-width: 767px) {
    #news {
        padding-bottom: 50px;
    }
    .news-title {
        padding: 40px 0 46px 3px;
        gap: 20px;
    }
    .news-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .news-date {
        font-size: 1.7rem;
        line-height: 2.5rem;
        text-align: left;
        padding: 28px 0 0 10px;
    }
    .news-heading {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: left;
        padding: 3px 0 0 10px;
    }
    .news-text {
        max-width: 100%;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: left;
        padding: 8px 6px 24px 10px;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
    }
    .news-item:last-of-type .news-text {
        letter-spacing: -0.01rem;
        padding-right: 5px;
    }
    
}
/* sectionのトップ・ボトム調整する */
/* @media screen  and (max-width: 900px) {
    #news {
        padding-left: 20px;
        padding-right: 20px;

    }
} */



#access {
    width: 100%;
}
.access-title {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.access-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.access-title::before,
.access-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url(images/足跡_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.access-content {
    display: flex;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 70px;
}
.info {
    flex: 1;
}
.map {
    width: 50%;
    max-width: 440px;
    height: 300px;   
}
.map-wrap {
    width: 100%;
    height: 300px;
}

.map iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.info {
    padding-left: 47px;
    width: 100%;
}
p.name {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.3rem;
}
p.address {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    padding-top: 15px;
}
span.address {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    padding-top: 15px;
    padding-left: 16px;
    color: #505050;
}
p.tel {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
span.tel {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
}
p.e-mail {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    padding-bottom: 29px;
    border-bottom: 1px solid #707070;
    padding-right: 47px;
}

.clinic-info p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 4rem;
    padding-top: 13px;
    padding-left: 4px;
}
p.clinic-info {
    padding-top: 0;
    padding-bottom: 13px;
    border-bottom: 1px solid #707070;

}

@media screen  and (max-width: 767px) {
    .access-title {
        margin-top: 45px;
        padding-top: 0;
    }
    .access-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .map-wrap {
        width: 100% !important;
        height: 222px;
    }
    .map {
        display: block;
        width: 100% !important;
        height: 100%;
    }
    .info {
        padding: 0;
    }
    p.name {
        margin-top: 28px;
        text-align: left;
    }
    p.address {
        font-size: 1.6rem;
        padding-top: 13px;
    }
    span.address {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
    }
    p.tel {
        font-size: 1.6rem;
        line-height: 2.7rem;
        padding-top: 4px;
        padding-bottom: 6px;
    }
    span.tel {
        font-size: 2.5rem;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    p.e-mail {
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding-bottom: 15px;
    }
    .clinic-info p {
        font-size: 1.6rem;
        line-height: 3rem;
        padding-left: 0;
        padding-bottom: 0;
    }
    p.clinic-info {
        padding-bottom: 10px;
    }

    
}


/* @media screen  and (max-width: 900px) {
    #access {
        padding-left: 20px;
        padding-right: 20px;

    }
}
 */

#contact {
    width: 100%;
    background-color: rgba(13, 150, 160, 0.102);
}
.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 62px;
}
.contact-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.contact-title::before,
.contact-title::after {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url(images/足跡_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.contact-text p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    margin-top: 25px;
}
.contact-form {
    max-width: 880px;
    /* ↓中央寄せにしてみる */
    margin: 38px auto 0;
}
.form-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-item {
    display: flex;
    align-items: flex-start;
    gap: 29px;
}
.form-label {
    width: 16%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.3rem;
    padding-top: 7px;
}
.spacing {
    letter-spacing: 2rem;
}
.form-input,
.form-textarea {
    flex: 1;
}
input[type="text"],
input[type="email"],
 textarea {
    width: 100%;
    padding: 10px 15px;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: #ffffff;
}
input[type="text"],
input[type="email"] {
    height: 40px;
}
textarea {
    background-color: #ffffff;
    height: 300px;
    resize: none;
}
.contact-btn {
    text-align: center;
    margin-top: 45px;
}
.btn {
    width: 200px;
    height: 50px;
    margin-bottom: 80px;
    background-color: #0D96A0;
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 700;
    line-height: 3.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    /* border: 1px solid #0D96A0; */
}
.btn:hover {
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .contact-title {
        padding-top: 45px;
    }
    .contact-text p  {
        margin-top: 40px;
        font-size: 1.6rem;
        text-align: left;
    }
    .form-item {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
    }
    .form-items {
        gap: 0;
    }
    .form-label {
        width: 100%;
        font-size: 1.8rem;
        padding-top: 0;
    }
    .form-input {
        width: 100%;
        padding-top: 0;
        padding-bottom: 17px;
    }
    .form-textarea {
        width: 100%;
        padding-top: 0;
        padding-bottom: 5px;
    }


    input[type="text"],
    input[type="email"] {
    height: 50px;
    }

    .btn {
        width: 335px;
        height: 41px;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 50px;
    }
    
}
@media screen  and (max-width: 370px) {
    .btn {
        width: 250px;
    }
}


.footer {
    width: 100%;
    background-color: #505050;
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 14px;
    list-style: none;  
    margin-top: 66px;  
}
.footer-nav li {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.3rem;
    color: #ffffff;
}
.footer-nav {
    border-bottom: 1px solid #ffffff;
    width: 737px;
    padding-top: 5px;
    padding-bottom: 19px;
    margin: 0 auto;
    margin-bottom: 0;
}
.copyright  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 2rem;
    line-height: 3.3rem;
    margin-top: 27px;
    color: #ffffff;
}
.copy-mark {
    letter-spacing: 1px;
}
.sns-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 12px;
}
.sns-area img{
    width: 22px;
    height: 18px;
    margin-bottom: 72px;
}

 @media screen and (max-width:767px) {
    .footer {
        width: 100%;
        padding-inline: 20px;
        /* margin-top: 45px; */
    }
    .footer-nav {
        width: 100%;
        padding: 5px 21px 19px 22px;
        margin-bottom: 9px;
    }
    .footer-nav ul {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 20px;
    }
    
    .footer-nav li {
        text-align: center;
        font-size: 1.8rem;
    }
    .copyright {
        margin-top: 6px;
        font-size: 1.6rem;
        gap: 12px;
    }
    .copy-mark {
        letter-spacing: 0.5px;
    }
    .sns-area {
        margin-top: 24px;
    }
 }