@charset "UTF-8";
html {
     font-size: 10px;
     scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans JP' , sans-serif;
    font-style: normal;
    color: #505050;
    margin-top: 50px;

}
.header {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #ffffff;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    height: 50px;
    margin: 0 auto;



}
.site-title {
    display: flex;
    align-items: center;
    height: 100%;
}
.site-title .logo {
    display: block;
    width: 25.49px;
    height: 25px;
    margin-right: 9.51px;
}
.site-title .site-name {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.833;
}
@media screen  and (max-width: 980px){
    .site-title .site-name {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.833;
        margin-right: 80px;
    } 
    .nav-list {
        margin-right: 15px;
    }   
}

/* h1にもheightを追加 */
.site-title h1 {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


span.site-name {
    display: flex;
    align-items: center;
    height: 100%;
    color: #505050;
}
.site-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 39px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
.site-title a:hover {
   opacity: 0.7;
}
#nav-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-nav {
    display: flex;
    height: 100%;
}
.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}
.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 2px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.357;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-list a:hover {
    opacity: 0.7;
} 
.nav-list li {
    height: 100%;
}  

@media screen and (max-width: 767px) {
    .header {
        margin: 0;
        padding: 0;
    }
    .nav-list {
        display: none;
    }
    .site-title .site-name {
        margin: 0;
    }


    .site-title a {
        margin-left: 20px;
        padding: 0;  
    }
    /* .site-title h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.65;
    } */
    .site-title .site-name {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.65;
    }
}    
    


#hero {
    width: 100%;
    height: auto;
    position: relative;
}
.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.hero-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-46%);
    width: 45.56%;
    height: 42%;
    box-sizing: border-box;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-text::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(225,225,225,0.702);
    z-index: 0;
}


@media screen and (max-width: 920px) {
    .hero-text {
        padding-left: 80px;
    }
    
}

.hero-text h2 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 60px;
    /* margin-top: 23px; */
    /* margin-bottom: 8px; */
    z-index: 1;
    position: relative;
}
span {
    font-size: 4rem;
    font-weight: 700;
    color: #0D96A0;
    line-height: 1.5;
    z-index: 1;
    position: relative;
}
/* font-size: clamp(最小rem, 可変幅vw, 最大rem);  vwを使うとリキッドコーディングになる*/

.hero-text h2 span {
    display: block;
    margin-top: 8px;
}
@media screen and (max-width: 940px) {
    .hero-text h2 {
        font-size: 2rem !important;
        padding-left: 0;
    }
    .hero-text h2 span {
        font-size: 3rem !important;
    }    
}

@media screen and (max-width: 785px) {
    .hero-text h2 {
        font-size: 1.8rem !important;
        padding-left: 0;
    }
    .hero-text h2 span {
        font-size: 2.5rem !important;
    }    
}






.sp-only {
    display: none;
}

@media screen and (max-width: 767px) {
    #hero {
        width: 100%;
        height: auto;
        aspect-ratio: 375 / 550;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .hero-image {
        /* position: relative; */
        width: 100%;
        /* aspect-ratio: 375 / 550; */
        height: 100%;
    }
    .hero-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero-text {
        position: absolute;
        top: auto;
        left: 0%;
        bottom: 0%;
        width: 82.9%;
        /* max-width: 82.9%; */
        height: 26.91%;
        /* background-color: rgb(225,225,225,0.7); */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;  
        padding: 3px 0 0 0px ;
        margin: 0 !important; 
        transform: none; 
    }



    .hero-text h2 {
        padding: 0;
        font-size: 3rem !important;
        font-weight: 700;
    }
    .hero-text h2 span {
        display: block;
        font-size: 4.5rem !important;
        font-weight: 700;
        line-height: 1.333;
        margin-top: 5px;
    }
    .sp-only {
        display: inline;
    }
    /* img.paw-trail {
        display: block;
        width: 68.35px;
        height: 62.94px;
        max-width: none;
        top: 268px;
        left: 278px;

    } */
    /* .paw-trail img {
        display: block;
        width: 100%;

    } */        
}

@media screen and (max-width: 520px) {
    .hero-text h2 {
        font-size: 2rem !important;
        font-weight: 700;
    }
    .hero-text h2 span {
        display: block;
        font-size: 3rem !important;
        font-weight: 700;
        line-height: 1.333;
        margin-top: 5px;
    }    
}

@media screen and (max-width: 360px) {
    .hero-text h2 {
        font-size: 1.5rem !important;
    }
    .hero-text h2 span {
        font-size: 2.5rem !important;
    }
    
}





#greeting {
    /* position: relative; */
    width: 100%;
    text-align: center;
}
#greeting h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.666;
    margin-top: 60px;
    color: #0D96A0;
}
#greeting p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.833;
    margin-top: 15px;
    margin-bottom: 60px;
}
#greeting .inner {
    position: relative;
}
.paw-trail {
    position: absolute;
    left: 90.86%;
    top: 70.12%;
    width: 100%;
    height: auto;
    max-width: 83.75px;
    opacity: 0.7;
    
}
@media screen and (max-width:970px) {
    .paw-trail {
        position: absolute;
        top: 78.54%;      /* 115px / 385px */
        left: 83.90%;     /* 277.1px / 375px */
        width: 18.23%;
        max-width: 83.75px;    /* 68.35px / 375px */
        height: auto;
        right: auto;
        bottom: auto;
        opacity: 0.7;
      }
      .paw-trail img {
        display: block;
        width: 100%;
      }
}

    


@media screen  and (max-width: 767px) {
    .inner  {
        padding-inline: 20px !important;
    }
     .inner-sp {
        padding-inline: 20px;
        margin: 0 auto;
    } 

    /* #greeting {
        aspect-ratio: 375 / 385;
    } */
    
    #greeting h2 {
        font-size: 2.5rem;
        line-height: 1.4;
        padding-top: 50px ;
        margin-top: 0;
    }
    #greeting p {
        font-size: 1.6rem;
        line-height: 1.875;
        text-align: left;
        margin: 14px 0 44px 0;
    }

    /* 足跡img 配置指定 */
    .paw-trail {
        position: absolute;
        top: 78.54%;      /* 115px / 385px */
        left: 73.90%;     /* 277.1px / 375px */
        width: 18.23%;    /* 68.35px / 375px */
        max-width: 68.35px;
        height: auto;
        right: auto;
        bottom: auto;
        opacity: 0.7;
      }
      .paw-trail img {
        display: block;
        width: 100%;
      }
}


#strengths {
    background-color: rgba(13, 150, 160, 0.102);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 67px;
}
.strengths-title {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 70px;
    line-height: 1;
}
.strengths-title::before,
.strengths-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url("images/足跡_1.svg");
    background-size: contain;
    background-repeat: no-repeat
}

/* content-box max-width の値に padding を含めないようにする */
.inner {
    max-width: 940px;
    margin: 0 auto;
    padding-inline: 30px;
}

/*メディアクエリの設定不要
 @media screen and (max-width:900px){
    .inner {
        padding-inline: 30px;
    }    
} */

.strengths-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
    margin-top: 50px;
    
}
.strengths-item {
    flex: 45%;    
}
.strengths-item h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 19px;
}
#greeting h3:last-of-type {
    margin-top: 29px;
  }

.strengths-item p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.833;    
}
.strengths-block:nth-of-type(2) {
    flex-direction: row-reverse;
    margin-top: 43px;
}
.strengths-block:nth-of-type(2) h3 {
    padding-top: 7px;
    padding-bottom: 17px;
}
/* ↑2番目配置入れ替え */
.strengths-block:nth-of-type(3) {
    margin-top: 48px;
}

.strengths-image {
    flex: 50%;
    aspect-ratio: 440 / 247;
    margin-top: 2px;
}
.strengths-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen  and (max-width: 767px) {
    #strengths {
        padding-bottom: 35px;
    }    
    .strengths-title {
        padding-top: 55px;
        padding-bottom: 44px;
    }
    .strengths-block {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 0;
        margin: 0;   
    }
    .strengths-image  {
        order: 1 ;
        display: block;
        width: 100%;
        height: auto;
    }

    .strengths-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .strengths-item  {
        order: 2;
    }
    .strengths-item h3 {
        font-size: 2rem;
        line-height: 1.5;
        margin-top: 25px;
        padding-bottom: 0;
    }
    /* h3の１個目メディアクエリだけ改行用コード書く */

    .strengths-item p {
        order: 3;
        font-size: 1.6rem;
        line-height: 1.875;
        text-align: left;
        padding-top: 7px;
        padding-bottom: 40px;
    }
    .strengths-block:nth-of-type(2) p {
        padding-top: 10px;
        padding-bottom: 43px;
    }

    .strengths-block:nth-of-type(3) p {
        padding-bottom: 0 ;
    }

    .strengths-image img {
        display: block;
        width: 100%;
    }
    .strengths-block:nth-of-type(2) {
        margin-top: 0; 
      }
    
      .strengths-block:nth-of-type(2) h3 {
        padding-top: 0;
        padding-bottom: 0;
      }
    
      .strengths-block:nth-of-type(3) {
        margin-top: 0;
      }


    
}

@media screen and (max-width: 374px) {
    .strengths-item h3 {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .strengths-item p {
        font-size: 1.4rem;
        line-height: 1.875;
    }
    
}


#service {
    width: 100%;
    padding-bottom: 59px;
}

.service-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding-top: 62px;
}    
.service-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.service-title::before,
.service-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url("images/足跡_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.service-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    margin-top: 45px;
}
.service-block {
    text-align: center;
    height: 100%;
}
.service-item h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 19px;
}
.service-item p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.764;
    margin-top: 8px;
    text-align: left;
}

/* テキスト側にもmax-width幅指定いるかあとでチェック */

.service-image {
    display: block;
    width: 100%;
    max-width: 100%;
    
}
.service-image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    #service {
        padding-bottom: 0;
        /* padding-inline: 20px; */
    }
    #service .inner {
        max-width: 100%;
    }

    .service-title {
        padding-top: 44px;
        margin-bottom: 47px;
    }
    .service-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
        margin-top: 39px;
    }
    .service-item h3 {
        margin-top: 27px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
    }
    .service-item p {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.875;
        margin-bottom: 40px;
    }
    .service-image {
        display: block;
        width: 100%;
        height: auto;
    }
    .service-image img {
        display: block;
        width: 100%;
        /* max-width: 100%; */
    }        
}


/* 後で余白調整する */

#news {
    width: 100%;
    background-color: rgba(13, 150, 160, 0.102);
    padding-bottom: 67px;
}
.news-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 63px;
    padding-bottom: 45px;
    border-bottom: 1px solid #707070;
}
.news-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.news-title::before,
.news-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url("images/足跡_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.news-list {
    max-width: 879px;
    margin: 0 auto;
    list-style: none;
}
.news-item {
    border-bottom: 1px solid #707070;
}
.news-link {
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.news-date {
    width: 110px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.47;
    color: #505050;
    text-align: left;
    padding: 17px 0px 14px 19px;
   

}
.news-heading {
    width: 185px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #0D96A0;
    padding: 17px 0px 14px 25px;
    text-align: left;
}
.news-link:hover {
    opacity: 0.7;
}

.news-text {
    width: 491px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.764;
    text-align: left;
    flex: 1;
    padding: 15px 0px 14px 49px;
}

@media screen  and (max-width: 767px) {
    #news {
        padding-bottom: 50px;
    }
    .news-title {
        padding: 43px 0 45px 3px;
        gap: 20px;
    }
    .news-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .news-date {
        font-size: 1.7rem;
        line-height: 1.47;
        text-align: left;
        padding: 28px 0 0 10px;
    }
    .news-heading {
        font-size: 2rem;
        line-height: 1.25;
        text-align: left;
        padding: 3px 0 0 10px;
    }
    .news-text {
        max-width: 100%;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: left;
        padding: 8px 6px 24px 10px;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
    }
    .news-item:last-of-type .news-text {
        letter-spacing: -0.01rem;
        padding-right: 5px;
    }
    
}
/* sectionのトップ・ボトム調整する */
/* @media screen  and (max-width: 900px) {
    #news {
        padding-left: 20px;
        padding-right: 20px;

    }
} */



#access {
    width: 100%;
}
.access-title {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.access-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.access-title::before,
.access-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url(images/足跡_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.access-content {
    display: flex;
    align-items: stretch;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 70px;
}
/* align-items: stretchで子要素と高さを揃える */

/* .map {
    flex: 1;
    display: block;  
    max-width: 440px;
} */

.map {
    flex: 0 0 440px;
    display: block;  
    max-width: 100%;
}
.map-wrap {
    aspect-ratio: 22 / 15;
    width: 100%;
    height: 100%;
}
/* GoogleMap比率設定する */
/* stretch+子要素高さ書く */

.map iframe {
    display: block;
    width: 100%;
    height: 100%;
}
.info {
    flex: 1;
    padding-left: 47px;
    /* width: 50% */
}

/* 中間幅mapとテキストの配置見直し */
@media screen and (max-width: 880px) and (min-width: 768px) {
    .map {
        flex: 1 1 50%;
        max-width: 50%;
    }
    .info {
        flex: 1 1 50%;
        max-width: 50%;
    }
    
}
p.name {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}
p.address {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 15px;
}
span.address {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 15px;
    padding-left: 16px;
    color: #505050;
}
p.tel {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
}
span.tel-number {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.6;
}

/* ↓レスポンシブ切り替えでなくてもできるやり方 */
.tel-link {
    pointer-events: none;
    cursor: default;
    margin-left: -5px;
}
p.e-mail {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 29px;
    border-bottom: 1px solid #707070;
    padding-right: 47px;
}
.e-mail a {
    transition: opacity 0.3s ease;
}
.e-mail a:hover {
    opacity: 0.7;
}

.clinic-info p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.222;
    padding-top: 13px;
    padding-left: 4px;
}
p.clinic-info {
    padding-top: 0;
    padding-bottom: 13px;
    border-bottom: 1px solid #707070;

}

@media screen  and (max-width: 767px) {
    .access-title {
        margin-top: 45px;
        padding-top: 0;
    }
    .access-content {
        display: flex;
        flex-direction: column;
        align-items: unset;
        padding-bottom: 50px;
    }
    .map-wrap {
        display: block;
        aspect-ratio: 335 / 222 !important;
        /* 横335：縦222 */
        width: 100% !important;
        height: auto;
    }
    .map {
        flex: unset;
        display: block;
        width: 100% !important;
        max-width: none;
        height: auto;
    }
    .map iframe {
        width: 100%;
        height: 100%;
        display: block;
      }
    .info {
        padding: 0;
    }
    p.name {
        margin-top: 28px;
        text-align: left;
    }
    p.address {
        font-size: 1.6rem;
        line-height: 1.5;
        padding-top: 13px;
    }
    span.address {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }
    p.tel {
        font-size: 1.6rem;
        line-height: 1.687;
        padding-top: 4px;
        padding-bottom: 6px;
    }
    .tel-link {
        pointer-events: auto;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }
    .tel-link:hover {
        opacity: 0.7;
    }
    span.tel-number {
        font-size: 2.5rem;
        line-height: 1.6;
        padding-top: 6px;
        padding-bottom: 4px;
        padding-left: 3px;
    }
    p.e-mail {
        font-size: 1.6rem;
        line-height: 1.5;
        padding-bottom: 19px;
    }
    .e-mail a:hover {
        opacity: 0.7;
    }
    .clinic-info p {
        font-size: 1.6rem;
        line-height: 1.875;
        padding-left: 0;
        padding-bottom: 0;
    }
    p.clinic-info {
        padding-bottom: 10px;
    }

    
}


/* @media screen  and (max-width: 900px) {
    #access {
        padding-left: 20px;
        padding-right: 20px;

    }
}
 */

#contact {
    width: 100%;
    background-color: rgba(13, 150, 160, 0.102);
}
.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 62px;
}
.contact-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.contact-title::before,
.contact-title::after {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 25.49px;
    height: 25px;
    background-image: url(images/足跡_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.contact-text p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.764;
    text-align: center;
    margin-top: 25px;
}
.contact-form {
    max-width: 880px;
    /* ↓中央寄せにしてみる */
    margin: 38px auto 0;
}
.form-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-item {
    display: flex;
    align-items: flex-start;
    gap: 29px;
}
.form-label {
    width: 16%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.65;
    padding-top: 7px;
}
.spacing {
    letter-spacing: 2rem;
}
.form-input,
.form-textarea {
    flex: 1;
}
input[type="text"],
input[type="email"],
 textarea {
    width: 100%;
    padding: 10px 15px;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: #ffffff;
}
input[type="text"],
input[type="email"] {
    height: 40px;
    font-weight: 500;
}
textarea {
    background-color: #ffffff;
    height: 300px;
    resize: none;
    display: block;
}
/* ボタンとテキストエリアの余白をmargin: 0;にする */
.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-bottom: 80px;
    background-color: #0D96A0;
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 700;
    /* line-height: 1.32; */
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    /* border: 1px solid #0D96A0; */
    transition: background-color 0.4s ease, color 0.4s ease;
}
.btn:hover {
    background-color: #0A6C75;
    color: #f0f0f0;
}

@media screen and (max-width: 767px) {
    .contact-title {
        padding-top: 45px;
    }
    .contact-text p  {
        margin-top: 43px;
        font-size: 1.6rem;
        text-align: left;
    }
    .form-item {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
    }
    .form-items {
        gap: 0;
    }
    .form-label {
        width: 100%;
        font-size: 1.8rem;
        padding-top: 0;
    }
    .form-input {
        width: 100%;
        padding-top: 0;
        padding-bottom: 17px;
    }
    .form-textarea {
        width: 100%;
        padding: 0;
    }


    input[type="text"],
    input[type="email"] {
    height: 50px;
    padding: 5px 15px;
    margin-top: 7px;
    }

    .btn {
        width: 335px;
        height: 41px;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 54px;
    }
    
}
@media screen  and (max-width: 370px) {
    .btn {
        width: 250px;
    }
}


.footer {
    width: 100%;
    background-color: #505050;
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 14px;
    list-style: none;  
    margin-top: 66px;  
}
.footer-nav li {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.65;
    color: #ffffff;
}
.footer-nav {
    border-bottom: 1px solid #ffffff;
    width: 737px;
    padding-top: 1px;
    padding-bottom: 21px;
    margin: 0 auto;
    margin-bottom: 0;
}
.footer-nav a {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
.footer-nav a:hover {
    transform: scale(1.2);
    opacity: 0.8;
}
.copyright  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 18px; */
    font-size: 2rem;
    line-height: 1.65;
    margin-top: 27px;
    color: #ffffff;
}
/* .copy-mark {
    letter-spacing: 1px;
} */
p.copy-mark {
    font-weight: 700;
}
span.hospital-name {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 15px;
    color: #ffffff;
}
.sns-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 72px;
    gap: 12px;
}
.sns-area img{
    width: 22px;
    height: 18px;
}
.sns-area a img {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .sns-area a:hover img {
    transform: scale(1.2);
    opacity: 0.8;
  }

 @media screen and (max-width:767px) {
    .footer {
        width: 100%;
        padding-inline: 20px;
        /* margin-top: 45px; */
    }
    .footer-nav {
        width: 100%;
        padding: 5px 20px 19px 19px;
        /* margin-bottom: 14px; */
    }
    .footer-nav ul {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 20px;
    }
    
    .footer-nav li {
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.833;
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 19px;
        font-size: 1.6rem;
        gap: 12px;
    }
    p.copy-mark {
        font-size: 1.6rem;
    }
    span.hospital-name {
        font-size: 1.6rem;
    }
    /* .copy-mark {
        letter-spacing: 0.5px;
    } */
    .sns-area {
        margin-top: 24px;
    }
 }
 @media screen and (max-width:365px) {
    .footer-nav li {
        font-size: 1.6rem;
    }
    p.copy-mark {
        font-size: 1.2rem;
    }
    span.hospital-name {
        font-size: 1.2rem;
    }
 }